@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a>https://github.com/WilliamMurillo</a> <br />
    Medellín - 231 3666<br />
    <abbr title="Phone">P:</abbr>
    302 4556037
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:willystar0011@gmail.com">willystar0011@gmail.com</a><br />
</address>