@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Diseño","index","tblDiseño")</h2>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Usuario", "index", "tblUsuario")</h2>
    </div>
</div>